<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="row">
    <div class="col-2">
        <div id="form" class="list-group">
            <a class="list-group-item list-group-item-action" href="#demographics">DEMOGRAPHICS</a>
            <a class="list-group-item list-group-item-action" href="#contact">CONTACT</a>
            <a class="list-group-item list-group-item-action" href="#history">HISTORY</a>
            <a class="list-group-item list-group-item-action" href="#allergies">ALLERGIES</a>
            <a class="list-group-item list-group-item-action" href="#medications">MEDICATIONS</a>
            <a class="list-group-item list-group-item-action" href="#belongings">BELONGINGS</a>
        </div>
    </div>
    <div class="col-10">
        <div id="scroll" data-spy="scroll" data-target="#form" data-offset="0" class="scrollspy-example">
            <div class="header-bar">
                <h3 id="demographics">Demographics</h3>
            </div>
            <div class="form mainForm">
                <form (submit)="addDemographics()">
                    <div class="form-group row">
                        <div class="col-6">
                            <small>First Name</small>
                            <input type="text" [(ngModel)]="newDemographic.firstName" name="firstName" class="form-control-plaintext" required #firstName="ngModel">
                        </div>
                        <div class="col-6">
                            <small>Middle Name</small>
                            <input type="text" [(ngModel)]="newDemographic.middleName" name="middleName" class="form-control-plaintext" required #middleName="ngModel">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-6">
                            <small>Last Name</small>
                            <input type="text" [(ngModel)]="newDemographic.lastName" name="lastName" class="form-control-plaintext" required #lastName="ngModel">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-6">
                            <small>Social Security Number</small>
                            <input type="number" [(ngModel)]="newDemographic.SSN" name="SSN" class="form-control-plaintext" pattern="\d{3}-?\d{2}-?\d{4}" placeholder="123-45-6789" required #SSN="ngModel">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-6">
                            <small>Date of Birth</small>
                            <input type="date" [(ngModel)]="newDemographic.DOB" name="DOB" class="form-control-plaintext" required #DOB="ngModel">
                        </div>
                    </div>
                    <div class="form-group">
                        <small>Age</small>
                        <input type="text" [(ngModel)]="newDemographic.age" name="age" class="form-control-plaintext" required #age="ngModel">
                    </div>
                    <div class="form-group">
                        <small>Weight</small>
                        <input type="text" [(ngModel)]="newDemographic.weight" name="weight" class="form-control-plaintext" placeholder="000lbs" required #weight="ngModel">
                    </div>
                    <div class="form-group">
                        <small>Gender</small>
                        <select [(ngModel)]="newDemographic.gender" name="gender" class="form-control" required #gender="ngModel">
                          <option value="" selected disabled>Select ...</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="unidentified">Unidentified</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <small>Race</small>
                        <select [(ngModel)]="newDemographic.race" name="race" class="form-control" required #race="ngModel">
                          <option value="" selected disabled>Select ...</option>
                          <option value="white">White</option>
                          <option value="black">Black</option>
                          <option value="native">American Indian or Alaskan Native</option>
                          <option value="asian">Asian</option>
                          <option value="hispanicLatino">Hispanic or Latino</option>
                          <option value="pacificIslander">Native Hawaiian or Other Pacific Islander</option>
                          <option value="unknown">Unknown</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <small>Ethnicity</small>
                        <input type="text" [(ngModel)]="newDemographic.ethnicity" name="ethnicity" class="form-control-plaintext" required #ethnicity="ngModel">
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-sm btn-primary" value="Next">
                        <button [routerLink]="['/incident-home/'+id]" class="btn btn-sm btn-danger">Go Back</button>
                    </div>
                </form>
            </div>
            <div class="header-bar">
                <h3 id="contact">Contact</h3>
            </div>
            <div class="form mainForm">
                <p>TO BE CONTINUED</p>
            </div>
            <div class="header-bar">
                <h3 id="history">History</h3>
            </div>
            <div class="form mainForm">
                <p>TO BE CONTINUED</p>
            </div>
            <div class="header-bar">
                <h3 id="allergies">Allergies</h3>
            </div>
            <div class="form mainForm">
                <p>TO BE CONTINUED</p>
            </div>
            <div class="header-bar">
                <h3 id="medications">Medications</h3>
            </div>
            <div class="form mainForm">
                <p>TO BE CONTINUED</p>
            </div>
            <div class="header-bar">
                <h3 id="belongings">Belongings</h3>
            </div>
            <div class="form mainForm">
                <p>TO BE CONTINUED</p>
            </div>
        </div>
    </div>
</div>
