<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="row">
    <div class="col-2">
        <div id="forms" class="list-group">
            <a class="list-group-item list-group-item-action" href="#response">RESPONSE</a>
            <a class="list-group-item list-group-item-action" href="#scene">SCENE</a>
            <a class="list-group-item list-group-item-action" href="#personnel">PERSONNEL</a>
            <a class="list-group-item list-group-item-action" href="#disposition">DISPOSITION</a>
            <a class="list-group-item list-group-item-action" href="#destination">DESTINATION</a>
            <a class="list-group-item list-group-item-action" href="#times">TIMES</a>
            <a class="list-group-item list-group-item-action" href="#mileage">MILEAGE</a>
            <a class="list-group-item list-group-item-action" href="#additional">ADDITIONAL</a>
        </div>
    </div>
    <div class="col-10">
        <div data-spy="scroll" id="scroll" data-target="#forms" data-offset="0" class="scrollspy-example">
            <div class="header-bar">
                <h3 id="response">Response</h3>
            </div>
            <div class="form mainForm">
                <form (submit)="addIncident()">
                    <div class="form-group">
                        <small>Incident number</small>
                        <input type="text" [(ngModel)]="newIncident.incidentNumber" name="incidentNumber" class="form-control-plaintext" required #incidentNumber="ngModel">
                    </div>
                    <div class="form-group">
                        <small>Run Number</small>
                        <input type="number" [(ngModel)]="newIncident.runNumber" name="runNumber" class="form-control-plaintext" required #runNumber="ngModel">
                    </div>
                    <div class="form-group">
                        <small>Run Type</small>
                        <input type="text" [(ngModel)]="newIncident.runType" name="runType" class="form-control-plaintext" required #runType="ngModel">
                    </div>
                    <div class="form-group">
                        <small>Priority</small>
                        <input type="text" [(ngModel)]="newIncident.priority" name="priority" class="form-control-plaintext" required #priority="ngModel">
                    </div>
                    <div class="form-group">
                        <small>Shift</small>
                        <input type="text" [(ngModel)]="newIncident.shift" name="shift" class="form-control-plaintext" required #shift="ngModel">
                    </div>
                    <div class="form-group">
                        <small>Unit</small>
                        <input type="text" [(ngModel)]="newIncident.unit" name="unit" class="form-control-plaintext" required #unit="ngModel">
                    </div>
                    <div class="form-group">
                        <small>Vehicle</small>
                        <input type="text" [(ngModel)]="newIncident.vehicle" name="vehicle" class="form-control-plaintext" required #vehicle="ngModel">
                    </div>
                    <div class="form-grou">
                        <small>EMD Card Number</small>
                        <input type="text" [(ngModel)]="newIncident.EMDcardNumber" name="EMDcardNumber" class="form-control-plaintext" required #EMDcardNumber="ngModel">
                    </div>
                    <div class="form-group">
                        <small>Requested By</small>
                        <input type="text" [(ngModel)]="newIncident.requestedBy" name="requestedBy" class="form-control-plaintext" required #requestedBy="ngModel">
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-sm btn-primary" value="Next">
                        <button [routerLink]="['/home-home']" class="btn btn-sm btn-danger">Restart</button>
                    </div>
                </form>
            </div>
            <div class="header-bar">
                <h3 id="scene">Scene</h3>
            </div>
            <div class="form mainForm">
                <form action="">
                    <div class="form-group">
                        <small>Location Type</small>
                        <select name="" class="form-control">
                          <option value="" disbaled selected>Select...</option>
                          <option value="home">Home/Residence</option>
                          <option value="street">Street or Highway</option>
                          <option value="hospital">Hospital</option>
                          <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <small>Location Name</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Address</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Apt/Suite/Room</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Zone</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Mass Casualty</small>
                        <select name="" class="form-control">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                      </select>
                    </div>
                </form>
            </div>
            <div class="header-bar">
                <h3 id="personnel">Personnel</h3>
            </div>
            <div class="form mainForm">
                <p>TO BE CONTINUED</p>
            </div>
            <div class="header-bar">
                <h3 id="disposition">Disposition</h3>
            </div>
            <div class="form mainForm">
                <p>TO BE CONTINUED</p>
            </div>
            <div class="header-bar">
                <h3 id="destination">Destination</h3>
            </div>
            <div class="form mainForm">
                <p>TO BE CONTINUED</p>
            </div>
            <div class="header-bar">
                <h3 id="times">Times</h3>
            </div>
            <div class="form mainForm">
                <p>TO BE CONTINUED</p>
            </div>
            <div class="header-bar">
                <h3 id="mileage">Mileage</h3>
            </div>
            <div class="form mainForm">
                <p>TO BE CONTINUED</p>
            </div>
            <div class="header-bar">
                <h3 id="additional">Additional</h3>
            </div>
            <div class="form mainForm">
                <p>TO BE CONTINUED</p>
            </div>
        </div>
    </div>
</div>
