<!-- <div class="container">
    <div class="col-4 offset-4">
        <table class="table table-light">
            <tbody>
                <td>Date</td>
                <td>Stuff</td>
                <td>Stuff</td>
                <td>Stuff</td>
            </tbody>
        </table>
    </div>
</div> -->
<footer>
    <div class="container text-center">
        <div class="btn-group" role="group">
            <button click="showTreatments('')" class="btn btn-success">Airway</button>
            <button click="showTreatments('')" class="btn btn-success">Critical Care</button>
            <button click="showTreatments('')" class="btn btn-success">Defib/Cardio</button>
            <button click="showTreatments('')" class="btn btn-success">IV Therapy</button>
            <button click="showTreatments('')" class="btn btn-success">Medication</button>
            <button click="showTreatments('')" class="btn btn-success">Other</button>
        </div>
    </div>
</footer>
