<br>
<br>
<div class="container">
    <!-- <div class="col-4 offset-4">
        <table class="table table-light">
            <tbody>
                <td>Date</td>
                <td>Stuff</td>
                <td>Stuff</td>
                <td>Stuff</td>
            </tbody>
        </table>
    </div> -->
    <div *ngIf="openform">hhhh</div>
</div>


<footer class="footer">
    <div *ngIf="addvitals">
        <div class="footerButtonGroup">
            <button class="btn btn-sm btn-danger footerButtonDirection" [routerLink]="['/vitals-home/'+id]">◀ Back</button>
            <button class="btn btn-sm btn-success footerButton" (click)="showEditFormFlow(editpatient.id)">Airway</button>
            <button class="btn btn-sm btn-primary footerButtonDirection" [routerLink]="['/narrative-home/'+id]">Next ▶</button>
        </div>
    </div>
</footer>

<div class="row">

    <div class="col">
        <div *ngIf="openform">

            <form>

                <h1>----------- OPA -------------</h1>
                <!-- Blood presure Form -->
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <button (click)="formstoggle(openform)">OPA</button>
                            <button (click)="pulstoggle(openform)">Orogastric</button>
                        </div>
                        <div class="row">
                            <button (click)="resptoggle(openform)">IGEL</button>
                            <button>Flatter Value</button>
                        </div>

                    </div>


                    <!--
                    // general: [GeneralSchema]
                    OPAGeneralprovider
                    OPAGeneralresponse: { type: String },
                    OPAGeneralcomplication: { type: String },
                    OPAGeneralmedicalcontrol: { type: String },
                    OPAGeneralphysicianRef: { type: String }, -->
                    <div *ngIf="bloodpresure" class="col">
                        <h1>OPA</h1>
                        <label for="">Prior to Arrivall
                            <select name="OPAprior" [(ngModel)]="editpatient.OPAprior" #OPAprior="ngModel">
                                <option value="Yes">Yes</option>
                                <option value="NO">No</option>
                            </select>
                        </label>
                        <br>
                        <label for="">Successful
                            <select name="OPAsuccessful" [(ngModel)]="editpatient.OPAsuccessful"
                                #OPAsuccessful="ngModel">
                                <option value="Yes">Yes</option>
                                <option value="NO">No</option>
                            </select>
                        </label>
                        <br>
                        <label for="">Comments
                            <input type="text" name="OPAcomments" [(ngModel)]="editpatient.OPAcomments" required
                                minlength="2" maxlength="24" #OPAcomments="ngModel" />
                        </label>
                        <br>
                        <h1>General</h1>
                        <br>
                        <label for="">Provider
                            <input type="text" name="OPAGeneralprovider" [(ngModel)]="editpatient.OPAGeneralprovider"
                                required minlength="2" maxlength="24" #OPAGeneralprovider="ngModel" />
                        </label>
                        <br>
                        <label for="">Patient Response


                            <input type="radio" name="OPAGeneralresponse" [(ngModel)]="editpatient.OPAGeneralresponse"
                                #OPAGeneralresponse="ngModel" value="Unchanged"> Unchanged
                            <input type="radio" name="OPAGeneralresponse" [(ngModel)]="editpatient.OPAGeneralresponse"
                                #OPAGeneralresponse="ngModel" value="Improved"> Improved
                            <input type="radio" name="OPAGeneralresponse" [(ngModel)]="editpatient.OPAGeneralresponse"
                                #OPAGeneralresponse="ngModel" value="Worse"> Worse

                        </label>
                        <br>
                        <label for="">Complication
                            <select name="OPAGeneralcomplication" [(ngModel)]="editpatient.OPAGeneralcomplication"
                                #OPAGeneralcomplication="ngModel">
                                <option value="None">None</option>
                                <option value="Apnea">Apnea</option>
                                <option value="Bleeding">Bleeding</option>
                                <option value="Other">Other Because its a Long Listtttttttt.....</option>
                            </select>
                        </label>
                    </div>
                    <!-- --------------------- -->
                    <div *ngIf="pulsform" class="col">
                        <h1>Orogastric Tube</h1>
                        <label for="">Prior to Arrivall
                            <input type="radio" name="oroprior" [(ngModel)]="editpatient.oroprior" #oroprior="ngModel"
                                value="Yes"> Yes
                            <input type="radio" name="oroprior" [(ngModel)]="editpatient.oroprior" #oroprior="ngModel"
                                value="No"> No<br>
                        </label>
                        <br>
                        <label for="">Size
                            <input type="number" name="orosize" [(ngModel)]="editpatient.orosize" #orosize="ngModel" />
                        </label>
                        <label for="">Placed At
                            <input type="number" name="oroplacedAt" [(ngModel)]="editpatient.oroplacedAt"
                                #oroplacedAt="ngModel" />
                        </label>
                        <br>
                        <label for="">Successful
                            <input type="radio" name="orosuccessful" [(ngModel)]="editpatient.orosuccessful"
                                #orosuccessful="ngModel" value="Yes"> Yes
                            <input type="radio" name="orosuccessful" [(ngModel)]="editpatient.orosuccessful"
                                #orosuccessful="ngModel" value="No"> No<br>
                        </label>
                        <br>
                        <label for="">Comments
                            <input type="text" name="orocomments" [(ngModel)]="editpatient.orocomments" required
                                minlength="2" maxlength="24" #orocomments="ngModel" />
                        </label>
                        <h1>General</h1>
                        <label for="">Provider
                            <input type="text" name="oroprovider" [(ngModel)]="editpatient.oroprovider" required
                                minlength="2" maxlength="24" #oroprovider="ngModel" />
                        </label>

                        <label for="">Patient Response
                            <input type="radio" name="ororesponse" [(ngModel)]="editpatient.ororesponse"
                                #ororesponse="ngModel" value="Unchanged"> Unchanged
                            <input type="radio" name="ororesponse" [(ngModel)]="editpatient.ororesponse"
                                #ororesponse="ngModel" value="Improved"> Improved
                            <input type="radio" name="ororesponse" [(ngModel)]="editpatient.ororesponse"
                                #ororesponse="ngModel" value="Worse"> Worse
                        </label>
                        <label for="">Complication
                            <select name="orocomplication" [(ngModel)]="editpatient.orocomplication"
                                #orocomplication="ngModel">
                                <option value="None">None</option>
                                <option value="Apnea">Apnea</option>
                                <option value="Bleeding">Bleeding</option>
                                <option value="Other">Other Because its a Long Listtttttttt.....</option>
                            </select>
                        </label>

                    </div>
                    <!-- --------------------- -->
                    <!-- --------------------- -->
                    <div *ngIf="respform" class="col">
                        <h1>iGEL</h1>

                    </div>
                    <!-- --------------------- -->
                </div>


                <input (click)="onEditFlow()" type="submit" value="Add" />
            </form>

            <div>
            </div>
        </div>
    </div>
    <div class="col">

        {{editpatient.name}}

        <!-- *ngFor="let rest of allrest; let i = index" -->
        <div *ngFor="let i of info.flowchart;">
            <h3 *ngIf="i.OPAprior != null || i.OPAsuccessful != null || i.OPAcomments != null || i.OPAGeneralprovider != null || i.OPAGeneralresponse != null || i.OPAGeneralcomplication != null">
                AIRWAY OPA</h3>
            <p *ngIf="i.OPAprior != null">Prior: {{i.OPAprior}}</p>

            <p *ngIf="i.OPAsuccessful != null">successful: {{i.OPAsuccessful}}</p>
            <p *ngIf="i.OPAcomments != null">Comments: {{i.OPAcomments}}</p>
            <p *ngIf="i.OPAGeneralprovider != null">Provider: {{i.OPAGeneralprovider}}</p>
            <p *ngIf="i.OPAGeneralresponse != null">Patient Response: {{i.OPAGeneralresponse}}</p>
            <p *ngIf="i.OPAGeneralcomplication != null">Complication: {{i.OPAGeneralcomplication}}</p>

            <p>-------------------</p>
            <h3 *ngIf="i.oroprior != null || i.orosize != null || i.oroplacedAt != null || i.orosuccessful != null || i.orocomments != null || i.oroprovider != null || i.ororesponse != null || i.orocomplication != null">
                Orogastric Tube</h3>
            <p *ngIf="i.oroprior != null">Prior: {{i.oroprior}}</p>
            <p *ngIf="i.orosize != null">Size: {{i.orosize}}</p>
            <p *ngIf="i.oroplacedAt != null">Placed At: {{i.oroplacedAt}}</p>
            <p *ngIf="i.orosuccessful != null">successful: {{i.orosuccessful}}</p>
            <p *ngIf="i.orocomments != null">Comments: {{i.orocomments}}</p>

            <p *ngIf="i.oroprovider != null">Provider: {{i.oroprovider}}</p>
            <p *ngIf="i.ororesponse != null">Patient Response: {{i.ororesponse}}</p>
            <p *ngIf="i.orocomplication != null">Complication: {{i.orocomplication}}</p>

        </div>

        <div *ngFor="let i of info.vitals;">
            <ul>

                <p *ngIf="i.pta != null">pta: {{i.pta}}</p>

                <p *ngIf="i.avpu != null">avpu: {{i.avpu}}</p>
                <p *ngIf="i.side != null">side: {{i.side}}</p>
                <p *ngIf="i.position != null">position: {{i.position}}</p>

                <h3 *ngIf="i.bpsystolic != null || i.bpdiastolic != null || i.bpmeanArterialPressure != null || i.bpmethod != null">
                    Blood Pressure</h3>
                <p *ngIf="i.bpsystolic != null">systolic: {{i.bpsystolic}}</p>
                <p *ngIf="i.bpdiastolic != null">diastolic: {{i.bpdiastolic}}</p>
                <p *ngIf="i.bpmeanArterialPressure != null">meanArterialPressure: {{i.bpmeanArterialPressure}}</p>
                <p *ngIf="i.bpmethod != null">method: {{i.bpmethod}}</p>

                <h3 *ngIf="i.prate != null || i.pmethod != null || i.prhythm != null || i.pstrength != null">
                    Pulse</h3>
                <p *ngIf="i.prate != null">Rate: {{i.prate}}</p>
                <p *ngIf="i.pmethod != null">Method: {{i.pmethod}}</p>
                <p *ngIf="i.prhythm != null">Rhythm: {{i.prhythm}}</p>
                <p *ngIf="i.pstrength != null">Strength: {{i.pstrength}}</p>

                <h3 *ngIf="i.rrate != null || i.rquality != null || i.rrhythm != null">
                    Respiration</h3>
                <p *ngIf="i.rrate != null">Rate: {{i.rrate}}</p>
                <p *ngIf="i.rquality != null">Quality: {{i.rquality}}</p>
                <p *ngIf="i.rrhythm != null">Rhythm: {{i.rrhythm}}</p>

                <p>-------------------</p>

            </ul>

        </div>


    </div>
</div>




<!--

    OPAprior: { type: String },
    OPAsize: { type: Number },
    OPAPlaceAt: { type: Number },
    OPAsuccessful: { type: Boolean },
    OPAcomments: { type: String },
    // general: [GeneralSchema]
    OPAGeneralresponse: { type: String },
    OPAGeneralcomplication: { type: String },
    OPAGeneralmedicalcontrol: { type: String },
    OPAGeneralphysicianRef: { type: String }, -->
<!-- -------------------------- -->
<footer>
    <div class="container text-center">
        <div class="btn-group" role="group">
            <!-- <button click="showTreatments('')" class="btn btn-success">Airway</button>
                <button click="showTreatments('')" class="btn btn-success">Critical Care</button>
                <button click="showTreatments('')" class="btn btn-success">Defib/Cardio</button>
                <button click="showTreatments('')" class="btn btn-success">IV Therapy</button>
                <button click="showTreatments('')" class="btn btn-success">Medication</button>
                <button click="showTreatments('')" class="btn btn-success">Other</button> -->
        </div>
    </div>
</footer>
