<nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item">
            <label [routerLink]="['/incident-home/:id']">INCIDENT</label>
        </li>
        <li class="nav-item">
            <label [routerLink]="['/patient-home/:id']">PATIENT</label>
        </li>
        <li class="nav-item">
            <label [routerLink]="['/vitals-home/:id']">VITALS</label>
        </li>
        <li class="nav-item">
            <label [routerLink]="['/flowchart-home/:id']">FLOWCHART</label>
        </li>
        <li class="nav-item">
            <label [routerLink]="['/assessments-home/:id']">ASSESSMENT</label>
        </li>
        <li class="nav-item">
            <label [routerLink]="['/narrative-home/:id']">NARRATIVE</label>
        </li>
        <li class="nav-item">
            <label [routerLink]="['/forms-home/:id']">FORMS</label>
        </li>
        <li class="nav-item">
            <label [routerLink]="['/billing-home/:id']">BILLING</label>
        </li>
        <li class="nav-item">
            <label [routerLink]="['/signatures-home/:id']">SIGNATURES</label>
        </li>
    </ul>
</nav>
<app-home *ngIf="show" (giveId)="getId($event)"></app-home>
<!-- <app-home *ngIf="show" [new]="new" (giveId)="getId($event)"></app-home> -->
<router-outlet></router-outlet>