<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav nav-fill w-100">
      <li class="nav-item">
          <label [routerLink]="['/incident-home']">INCIDENT</label>
      </li>
      <li class="nav-item">
          <label [routerLink]="['/patient-home']">PATIENT</label>
      </li>
      <li class="nav-item">
          <label [routerLink]="['/vitals-home']">VITALS</label>
      </li>
      <li class="nav-item">
          <label [routerLink]="['/flowchart-home']">FLOWCHART</label>
      </li>
      <li class="nav-item">
          <label [routerLink]="['/assessments-home']">ASSESSMENT</label>
      </li>
      <li class="nav-item">
          <label [routerLink]="['/narrative-home']">NARRATIVE</label>
      </li>
      <li class="nav-item">
          <label [routerLink]="['/forms-home']">FORMS</label>
      </li>
      <li class="nav-item">
          <label [routerLink]="['/billing-home']">BILLING</label>
      </li>
      <li class="nav-item">
          <label [routerLink]="['/signatures-home']">SIGNATURES</label>
      </li>
  </ul>
</nav>
<router-outlet></router-outlet>