<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="row">
    <div class="col-2">
        <div id="forms" class="list-group">
            <a class="list-group-item list-group-item-action" href="#impression">IMPRESSION</a>
            <a class="list-group-item list-group-item-action" href="#signsSymptoms">SIGNS/SYMPTONS</a>
            <a class="list-group-item list-group-item-action" href="#complaint">COMPLAINT</a>
            <a class="list-group-item list-group-item-action" href="#injuries">INJURIES</a>
            <a class="list-group-item list-group-item-action" href="#factors">FACTORS</a>
            <a class="list-group-item list-group-item-action" href="#narrative">NARRATIVE</a>
        </div>
    </div>
    <div class="col-10">
        <div data-spy="scroll" id="scroll" data-target="#forms" data-offset="0" class="scrollspy-example">
            <div class="header-bar">
                <h3 id="clinicalImpression">Clinical Impression</h3>
            </div>
            <div class="form mainForm">
                <form action="">
                    <div class="form-group">
                        <small>Primary Impression</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Secondary Impression</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Medical/Trauma</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                </form>
            </div>
            <div class="header-bar">
                <h3 id="supportingSignsSymptons">Supporting Signs/Symptoms</h3>
            </div>
            <div class="align">
                <button class="btn btn-success btn-sm">Add Sign/Symptom</button>
            </div>
            <div class="header-bar">
                <h3 id="personnel">Patient Complaint</h3>
            </div>
            <div class="form mainForm">
                <form action="">
                    <div class="form-group">
                        <small>Chief Complaint</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Secondary Complaint</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Final Patient Acuity</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                </form>
            </div>
            <div class="header-bar">
                <h3 id="disposition">Injuries</h3>
            </div>
            <div class="form mainForm">
                <form action="">
                    <div class="form-group">
                        <small>Was the Patient Injured?</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Primary Injury</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Injury Details</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Place of Injury</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Date of Injury</small>
                        <input type="date" class="form-control-plaintext">
                    </div>
                </form>
            </div>
            <div class="header-bar">
                <h3 id="destination">Factors</h3>
            </div>
            <div class="form mainForm">
                <form action="">
                    <div class="form-group">
                        <small>Barriers to Care</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Alcohol/Drugs</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Pregnancy?</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                </form>
            </div>
            <div class="header-bar">
                <h3 id="times">Narrative</h3>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#narrativeModal">Add Narrative</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="narrativeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-group row col-12 narrativeHeader">
                    <h3>Narrative</h3>
                    <button type="button" class="btn btn-success okButton" data-dismiss="modal">OK</button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row noMargin">
                    <!-- PERSISTED NARRATIVE DATA -->
                    <div class="col-6">
                        <div class="card" id="flex">
                            <div class="card-body" id="scrollable">
                                <h3>INCIDENT</h3>
                                <ul class="list-group list-group-flush">
                                    <li>Incident Number: {{incident.incidentNumber}}</li>
                                    <li>Run Type: {{incident.runType}}</li>
                                    <li>Priority: {{incident.priority}}</li>
                                </ul>
                                <h3>DEMOGRAPHICS</h3>
                                <ul class="list-group list-group-flush">
                                    <li>Full Name: {{demographics.firstName}} {{demographics.middleName}} {{demographics.lastName}}</li>
                                    <li>SSN: {{demographics.SSN}}</li>
                                    <li>Age: {{demographics.Age}}</li>
                                    <li>DOB: {{demographics.DOB}}</li>
                                    <li>Weight: {{demographics.weight}}</li>
                                    <li>Gender: {{demographics.gender}}</li>
                                    <li>Race: {{demographics.race}}</li>
                                </ul>
                                <h3>Vitals</h3>
                                <ul>
                                    <li>PTA: {{vitals.pta}}</li>
                                    <li>Time: {{vitals.time}}</li>
                                    <li>AVPU {{vitals.avpu}}</li>
                                    <li>Side: {{vitals.side}}</li>
                                    <li>Position {{vitals.position}}</li>
                                    <p>Blood Pressure</p>
                                    <li>Systolic: {{vitals.bpsystolic}}</li>
                                    <li>Diastolic: {{vitals.bpdiastolic}}</li>
                                    <li>Mean Arterial Pressue: {{vitals.bpmeanArterialPressure}}</li>
                                    <li>Method: {{vitals.bpmethod}}</li>
                                </ul>
                                <h3>Flowchart</h3>
                                <ul>
                                    <li>OPA Prior: {{flowchart.OPAprior}}</li>
                                    <li>Successful: {{flowchart.OPAsuccessful}}</li>
                                    <li>Comments: {{flowchart.OPAcomments}}</li>
                                    <li>Providers: {{flowchart.OPAGeneralprovider}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- SUBJECTIVE NARRATIVE FORM -->
                    <div class="col-6">
                        <form (submit)="subjectiveNarrative()">
                            <div class="form-group row modalBody">
                                <textarea [(ngModel)]="newSubNarrative.narrative" name="narrative" class="form-control" placeholder="Start typing..." rows="22" required #narrative="ngModel"></textarea>
                                <div class="offset-10">
                                    <input type="submit" class="btn btn-success" id="enter" value="Enter">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- current id: 5dd74245e4814a5f0046b3bd -->
